.summary_page_wrapper{
  background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main_wrapper{
  background-color: #F5F5F5;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar_main_div{
  width: 100%!important;
}
.summary_homepage_div{
  width:85%;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.summary_sidebar_div{
    width:15%;
    height:85vh;
}
.summary_link_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:20%;
  padding-left: 10px;
}
.summary_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 98%;
}
.link_header{
  width:75%;
  text-align: left;
}
.link_icon{
  width:15%;
  background-color: #FFFFFF;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.budget_div_wrapper{
  width:98%;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F5F5F5;
  height: fit-content;
}
.total_budget_div{
width:49%;
background: #FFFFFF;
height: fit-content;
}
.cross_charged_div{
  background: #FFFFFF;
 width:50%;
 height: 42vh;
 padding: 10px;
}
.budget_header{
  display: flex;
  width:98%;
  margin: 5px auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}
.budget_header h5{
  font-size: 14px;
  color:#000000;
  font-weight: bolder;
  text-align: left;
  width: 100%;
}
.budget_header p{
  color: rgb(30, 30, 31);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  width: 100%;
}
.cross_charged_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cross_charged_header h5{
  font-size: 14px;
  color:#000000;
  font-weight: bolder;
}
.value_main_div{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.value_main_div h3{
  font-size: 15px;
  color: #000000;
  width:fit-content;
}
.value_main_div text{
  font-size: 12px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.cross_value_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width:50%;
  height: 20vh;
}
.loading_div{
  width:50%;

}
.cross_range_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.budget_summary_table{
  background-color: #FFFFFF;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.table_div{
  width:95%;
  height:200px;
  overflow: scroll;
}
.ant-table-thead > tr > th{
  font-weight: bolder !important;
  font-size: 10px;
}
canvas{
  width: 100%!important;
  height: 200px!important;
  background: #FFFFFF;
}
.surplus{
  background: #FFFFFF;
  padding: 15px;
  width: 96%;
  margin: auto;
}
.surplus h1{
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.overall_summary{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 15px auto;
}
.cross_charge{
}
.overall{
  background: #FFFFFF;
  width: fit-content;
  width: 48%;
  padding: 10px;

}
.overall h2{
  font-size: 15px;
  font-weight: bold;
}
.cross_charge{
  background: #FFFFFF;
  width: 48%;
  padding: 10px;
}
.cross_charge h2{
  font-size: 15px;
  font-weight: bold;

}
.cate_main{
  background: #FFFFFF;
  width: 48%;
  padding: 10px;
}
.cate_main h2{
  font-size: 15px;
  font-weight: bold;
}
.category_analysis{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 15px auto;
}
.input_wrapper{
  background-color: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  width: 98%;
  margin: auto;
}
.input_wrapper select{
  background: transparent;
  border: none;
  outline: none;
}
.pid p{
  text-align: center;
}
.pid{
  background: #FFFFFF;
  height: 40vh;
  width: 48%;
  padding: 10px;
}
.mobile_ham_link{
  display: none;
}
@media (max-width:519px){
  .budget_div_wrapper{
    flex-direction: column;
  }
  
  .total_budget_div{
    width: 100%;
  }
  .dashboard_header h1{
    font-size: 16px!important;
  }
  .dashboard_text{
    width: 85%!important;
    margin: auto;
  }
  .dashboard_text h1{
    font-weight: lighter!important;
    font-size: 13px!important;
  }
  .header_div{
    width: 88%!important;
    justify-content: space-between!important;
    flex-direction: row!important;
  }
  .navbar-brand{
    width: fit-content!important;
  }
  .filter_div {
     width: 100% !important;
}
.summary_sidebar_div {
  width: 40%!important;
  display: none;
}

.summary_homepage_div{
   width: 98%;
   margin: auto; 
}
.summary_header {
flex-direction: column;
width: 100%;
}
.summary_link_wrapper {
width: 100%;
}
.link_header{
text-align: center;
}

.cross_charged_div {
width: 100%;
margin: 10px auto;
height: fit-content;
}
.budget_header h5 {
  text-align: center;
}
.budget_header p {
text-align: center;
}
.cross_charged_header h5 {
text-align: center;
}
.cross_range_wrapper{
  flex-direction: column;
}
.cross_value_div {
 width: 100%;
}
.overall_summary{
  flex-direction: column;
}
.overall{
  width: 100%;
  margin-bottom: 10px;
}
.cross_charge {
width: 100%;
}
.category_analysis{
  flex-direction: column;
}
.cate_main {
  width: 100%;
  margin-bottom: 5px;
}
.cate_main h2 {
text-align: center;
}
.cate_main p{
  text-align: center;
}
.pid{
  width: 100%;
}
.input_wrapper h5 {
 margin-bottom: 0px;
  font-size: 15px;
}
.input_wrapper {
padding: 5px;
}
.summary_page_wrapper{
  display: flex;
  flex-direction: column;
}

.mobile_ham_link{
  display: block;
  text-align: right;
  width: 100%;
  padding: 10px;
}
}


@media (min-width:519px) and (max-width:845px){
  .budget_div_wrapper{
    flex-direction: column;
  }
  .cross_charged_div{
    width: 100%;
  }
  .total_budget_div{
    width: 100%;
  }
  .dashboard_header h1{
    font-size: 16px!important;
  }
  .dashboard_text h1{
    font-weight: lighter!important;
    font-size: 15px !important;
    margin-left: 50px!important;
  }
  .summary_header {
  flex-wrap: wrap;
  }
  .summary_link_wrapper {
  width: 35%;
  margin: 5px;
  }
  .overall_summary {
   flex-direction: column;
  }
  .overall {
     width: 100%;
     margin-bottom: 5px;
  }
  .cross_charge{
    width: 100%;
  }
  .category_analysis{
    flex-direction: column;
  }
  .cate_main {
  width: 100%;
  margin-bottom: 5px;
  }
  .pid{
    width: 100%;
  }
  
}