.le_submission_wrapper{
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.sidebar_main_div{
    width: 15%;
}
.sidebar_wrapperr{
    width: 15%;
}

.wrapper_header h2{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.wrapper_table {
    display: flex;
    justify-content: end;
}
.table_content{
    width: 95%;
    height: 300px;
    overflow: scroll;
}
.main_table{
    margin-top:50px;
    width:85%;
}

@media (max-width:519px){
    .sidebar_wrapperr{
        display: none;
    }
    .table_wrapper  {
        width: 98%!important;
        height: 300px;
    }
    .main_table{
        margin-top:0px;
        width: 100% !important;
    }
    .le_submission_wrapper{
        flex-direction: column;
    }
}

@media (min-width:520px) and (max-width:849px){
    .sidebar_wrapperr{
        width: 25%;
    }
    .main_table{
        margin-top:0px;
        width: 75% !important;;
    }
}