.sidebar_wrapper{
    width:100%;
    padding-top: 20px;
    z-index: 1;
}

.sidebar_div{
    border: 1px solid white;
    border-radius: 10px;
    width:90%;
    margin: auto;
    z-index: 1;
    padding: 5px;
}
  .filter_div{
    width:150px;
    margin: auto;
    position: relative;
    height:30px;
    cursor: pointer;
    background: #E6E6E6;
    color:grey;
    z-index: 1;

  }
  .icon{
    position: absolute;
    right: 0;
    top:5px;
    margin-right: 5px;
    transform: rotate(180deg);
  }
  .iconrotate{
    transform: rotate(360deg);
    position: absolute;
    right: 0;
    top:5px;
    margin-right: 5px;
  }
  .filter-text{
    position: absolute;
    left:0;
    top: 3px;
    margin-left: 5px;
    height:30px;
    overflow: hidden;
    text-align: left;
  }
  .checkbox_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:150px;
    color:grey;
    
    margin: auto;
    z-index: 9999;
    background: #E6E6E6;
  }
  .sidebar_header{
    font-weight: bolder;
    font-size: 13px;
    width:80%;
    text-align: left;
  }
 .sidebar_main_div{
    height:100%;
    border-right:2px solid grey;
    background: #F5F5F5;
    overflow: scroll;
 }
 .sidebar_main_div::-webkit-scrollbar {
  display: none;
}
 #all{
    text-align: left;
    height: 25px;
    overflow: hidden;
    width:110px;
 }

 @media (max-width:519px){
  .sidebar_header {
    width:100%;
  }
  .checkbox_wrapper {
  width: 100%;
  }
  .checkbox_wrapper input{
    margin-left: 5px;
  }
  #all{
    margin-left: 5px;
  }
 }
 @media (min-width:520px)and (max-width:845px){
  .summary_sidebar_div {
  width: 30%!important;
  }
  .filter_div {
  width:100%;
  }
  .checkbox_wrapper {
  width: 100%;
  }
  #all{
    margin-left: 5px!important;
  }
 }



  